/GuXin.AppApi/bin
/GuXin.AppApi/obj
/GuXin.AppApi/wwwroot/Upload/
/GuXin.Web/bin
/GuXin.WebApi/bin
/GuXin.WebApi/wwwroot/Upload/
/GuXin.WebApi/Download/ExcelExport
/GuXin.WebApi/Download/Logger
/GuXin.WebApi/Download/SqlLog
/GuXin.WebApi/obj
/.vs
/GuXin.Entity/bin
/GuXin.Entity/obj
/GuXin.AppManager/bin
/GuXin.AppManager/obj
/GuXin.Builder/obj
/GuXin.Builder/bin
/GuXin.Business/obj
/GuXin.Business/bin
/GuXin.Core/obj
/GuXin.Core/bin
/GuXin.Order/obj
/GuXin.Order/bin
/GuXin.System/obj
/GuXin.System/bin
/GuXin.Web/obj
/GuXin.WebApi/Download/*