
.idea
.vscode
.DS_Store
.DS_Store
ChatAdmin/node_modules
ChatApp/unpackage
ChatApp/node_modules
ChatApi/GuXin.AppApi/bin
ChatApi/GuXin.AppApi/obj
ChatApi/GuXin.AppApi/wwwroot/Upload/
ChatApi/GuXin.Web/bin
ChatApi/GuXin.WebApi/bin
ChatApi/GuXin.WebApi/wwwroot/Upload/
ChatApi/GuXin.WebApi/Download/ExcelExport
ChatApi/GuXin.WebApi/Download/Logger
ChatApi/GuXin.WebApi/Download/SqlLog
ChatApi/GuXin.WebApi/obj
ChatApi/.vs
ChatApi/GuXin.Entity/bin
ChatApi/GuXin.Entity/obj
ChatApi/GuXin.AppManager/bin
ChatApi/GuXin.AppManager/obj
ChatApi/GuXin.Builder/obj
ChatApi/GuXin.Builder/bin
ChatApi/GuXin.Business/obj
ChatApi/GuXin.Business/bin
ChatApi/GuXin.Core/obj
ChatApi/GuXin.Core/bin
ChatApi/GuXin.Order/obj
ChatApi/GuXin.Order/bin
ChatApi/GuXin.System/obj
ChatApi/GuXin.System/bin
ChatApi/GuXin.Web/obj
ChatApi/GuXin.WebApi/Download/*